# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/playwright-report/
/test-results/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
PRD.md
AGENTS.md
(PUBLIC) ICD-9CM e-klaim.csv

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log
update_docs.cjs
update_docs.ts

# env files (can opt-in for committing if needed)
.env*
.env.local

# typescript
*.tsbuildinfo
next-env.d.ts

# skills ai
.agents
skills-lock.json
